# Database connection string
DATABASE_URI=mongodb://mongo/unclaimed-store

# Used to encrypt JWT tokens
# Can be generated with the following command:
# openssl rand -hex 12
PAYLOAD_SECRET=YOUR_SECRET_HERE
