# Database connection string
DATABASE_URI=mongodb://mongo/unclaimed-store

# Used to encrypt JWT tokens
# Can be generated with the following command:
# openssl rand -hex 12
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to preview drafts, keep these in sync
# Can be generated with the following command:
# openssl rand -hex 12
# Althougth it is the official approach, check if it is readable by the user without logging in, if yes, find a way to make it secure
PAYLOAD_PUBLIC_DRAFT_SECRET=demo-draft-secret
NEXT_PRIVATE_DRAFT_SECRET=demo-draft-secret